importClassesFrom(HIV.db, HivFeature)
importClassesFrom(GenomicRanges, GRanges)
importClassesFrom(IRanges, IRanges)
importFrom(GenomicRanges, GRanges)
importFrom(IRanges, IRanges, gaps, restrict)
importFrom(HIV.db, coord2ext)
importFrom(grDevices, extendrange)

exportClasses("DTrack","ATrack","ProbeTrack","SequenceTrack","ProteinAxisTrack")
exportMethods("start",
		"end")
export("DTrack","ATrack","ProbeTrack","SequenceTrack","ProteinAxisTrack",
		"coord2ext",
		"readAlign",
		"convertDB")